#rank-math-faq .rank-math-list-item {
    border-width: 1px;
    border-style: solid;
    border-color: #c4edff;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#rank-math-faq .rank-math-question {
    display: block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.4;
    margin: 0;
    padding: 15px 54px 15px 12px;
    background-color: #e2f6ff;
    cursor: pointer;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#rank-math-faq .rank-math-question.rm-faq-question-active {
    border-bottom: 1px solid #c4edff;
}

#rank-math-faq .rank-math-question:after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0;
    width: 54px;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-size: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#rank-math-faq .rank-math-question.rm-faq-question-active:after {
    content: "-";
}

#rank-math-faq .rank-math-answer {
    margin: 0;
    padding: 12px;
    background-color: #f3fbff;
    font-size: 16px;
    line-height: 1.4 !important;
    display: none;
}

#rank-math-faq .rank-math-answer p {
    margin-bottom: 0.5em;
}

#rank-math-faq .rm-faq-question-btn {
    all: unset !important
}